* {
    font-family: "Segoe Script", cursive;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 800px;

}

.add-item-fieldset,
.display-fieldset {
    box-sizing: border-box;
    width: 49.5%;
    float: left;
    padding: 10px;
    overflow: auto;
    min-width: 350px;
    min-height: 500px;
}

#title-err-msg,
#due-date-err-msg {
    color: red;
    font-size: 14px;
    height: 13px;
    ;
}

fieldset>legend {
    font-size: 1.5em;
}

form label {
    display: inline-block;
    margin-right: 1em;
    width: 110px;
    text-align: right;
}

input[type="text"] {
    height: 25px;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 200px;
    border-radius: 5px;
}

input[type="checkbox"] {
    transform: scale(2);
    margin-top: 1.5em;
    margin-bottom: 1em;
    padding-left: 5px;
}

.div-button {
    text-align: center;
}

form button {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 180px;
    background-color: rgb(147, 241, 147);
    color: purple;
    border: 1px solid black;
    cursor: pointer;
    padding: 0.75em;
    border-radius: 0.3em;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

form button:hover {
    background-color: orange;
}

form button:active {
    color: white;
    background-color: red;
    transform: scale(0.9);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

h1 {
    text-align: center;
}

[class*="todo-complete-"] {
    background-color: rgb(114, 162, 235);
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    opacity: 100%;
}

[class*="todo-incomplete-"] {
    background-color: lightcoral;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

[class*="todo-"] h3,
p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 1em;
    padding-right: 1em;
}

[class*="todo-"] p {
    display: inline;
}

[class*="todo-"] {
    border-radius: 1em;
    box-sizing: border-box;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none;    /* Hidden by default */
    position: fixed;    /* Stay in place */
    z-index: 1;    /* Sit on top */
    padding-top: 100px;    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;    /* Full width */
    height: 100%;    /* Full height */
    overflow: auto;    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);    /* Black w/ opacity */
}

/* Modal Content */
[class*="modal-content"] {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 2em;
}

/* The Delete X button */
.deleteX {
    display: block;
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    margin-left: 18px;
    margin-top: 5px;
    margin-right: 10px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 9px;
}

.close:hover,
.close:focus,
.deleteX:hover,
.deleteX:focus {
    color: rgb(253, 0, 0);
    text-decoration: none;
    cursor: pointer;
}


.details {
    color: #ffffffa9;
    float: right;
    font-size: 18px;
    font-weight: bold;
    padding-right: 15px;
    display: inline;
}

.details:hover,
.details:focus {
    color: #000;
    cursor: pointer;
}

.modal h3,
p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0em;
    padding-right: 1em;
}

.modal p {
    display: inline;
}

.status {
    float: right;
    font-size: 18px;
    font-weight: bold;
    padding-right: 30px;
    display: inline;
}